{% extends 'base.html.twig' %}
{% block title %}
    Page not found
{% endblock %}

{% block body %}
<div class="container-fluid main">
    <div class="bger"></div>
    <div class="bger bg2"></div>
    <div class="bger bg3"></div>
    <div class="row col-12 col-sm-10 col-md-6 col-lg-6 infobox p-lg-3 p-2">
        <img src="{{ asset('images/works-on-my-machine.svg') }}" class="w-50 rounded mx-auto d-block" alt="Page not found, so here is a random useless fact">
        <h4>Redirecting to homepage in <a href="{{ path('main') }}">homepage</a> in: <span href="#" id="number">5</span></h4>
        <h2 id="random-fact"></h2>
        <script src="{{ asset('js/errorPages.js') }}" defer></script>
    </div>
</div>

{% endblock %}

