{% block body %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/sendRequest.js') }}"></script>
{% endblock %}